@model VehicleMVC.Models.Vehicle

@{
    ViewData["Title"] = "GetVehicleById";
}

<h1>GetVehicleById</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditVehicles", new {id=Model.Id}) |
    <a asp-action="GetVehicles">Back to List</a>
</div>
